[submodule "pack/jiangmiao/start/auto-pairs"]
	path = pack/jiangmiao/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "pack/vimwiki/start/vimwiki"]
	path = pack/vimwiki/start/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "pack/tpope/start/commentary"]
	path = pack/tpope/start/commentary
	url = git@github.com:tpope/vim-commentary.git
