[submodule "pack/jiangmiao/start/auto-pairs"]
	path = pack/jiangmiao/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "pack/vimwiki/start/vimwiki"]
	path = pack/vimwiki/start/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "pack/tpope/start/commentary"]
	path = pack/tpope/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/tpope/start/fugitive"]
	path = pack/tpope/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/tpope/start/unimpaired"]
	path = pack/tpope/start/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "pack/tpope/start/repeat"]
	path = pack/tpope/start/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/tpope/start/eunuch"]
	path = pack/tpope/start/eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "pack/preservim/start/nerdtree"]
	path = pack/preservim/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
