[submodule "pack/jiangmiao/start/auto-pairs"]
	path = pack/jiangmiao/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "pack/vimwiki/start/vimwiki"]
	path = pack/vimwiki/start/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "pack/tpope/start/commentary"]
	path = pack/tpope/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/tpope/start/fugitive"]
	path = pack/tpope/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/tpope/start/unimpaired"]
	path = pack/tpope/start/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "pack/tpope/start/repeat"]
	path = pack/tpope/start/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/tpope/start/eunuch"]
	path = pack/tpope/start/eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "pack/preservim/start/nerdtree"]
	path = pack/preservim/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/junegunn/start/fzf"]
	path = pack/junegunn/start/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "pack/junegunn/start/fzf.vim"]
	path = pack/junegunn/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/mattn/start/emmet-vim"]
	path = pack/mattn/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "pack/andymass/start/vim-matchup"]
	path = pack/andymass/start/vim-matchup
	url = git@github.com:andymass/vim-matchup.git
[submodule "pack/ludovicchabant/start/vim-gutentags"]
	path = pack/ludovicchabant/start/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
